/* styles.css */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.hero {
    padding: 5rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    margin-bottom: 1rem;
    object-fit: cover;
    /* Ensures aspect ratio is maintained */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 1rem 0;
}

.tech-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.music-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}
.music-logo {
    width: 50px;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.shields {
    height: 40px;
}

.tech-logo {
    width: 50px;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #000;
    background-color: rgba(211, 211, 211, 0.7);
    text-decoration: none;
    border-radius: 2px;
    margin: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: rgba(211, 211, 211, 1);
    transform: scale(1.05);
}

.content-section {
    padding: 4rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#project-links {
    align-items: center;
    text-decoration: none;
}

.quiz-link {
    font-size: large;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}
.quiz-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}
.imagery-link {
    font-size: large;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}
.imagery-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    position: relative;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 0 1rem;
    /* Added padding to prevent overflow on mobile */
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(211, 211, 211, 0.7);
    color: #000;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: rgba(211, 211, 211, 1);
    transform: scale(1.05);
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
}

.description {
    text-align: center;
    margin-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
