body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.stage {
    margin-top: 10%;
}

.sticky {
    position: absolute;
    left: 20px;
    top: 20px;
}

.score-container {
    padding-top: 1rem;
}

#score {
    font-weight: normal;
    letter-spacing: .3rem;
    word-wrap: break-word;
}

#finalScore {
    font-size: 75px;
    font-weight: normal;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
    transition: transform .2s;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.answer {
    cursor: pointer;
}

.answer:hover {
    background-color: #ffc9c9;
}

button {
    height: 25px;
    width: 75px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
    border: 1px black;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}

footer {
    position: relative;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: inline;
}

ul li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

select {
    border: none;
    font-size: 1em;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
